<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <form method="post">
        <input type="checkbox" name="imparfait" id="imparfait">imparfait
        <br>
        <input type="checkbox" name="passé_composé" id="passé_composé">passé composé
        <br>
        <input type="checkbox" name="présent" id="présent">présent
        <br> 
        <input type="checkbox" name="futur_simple" id="futur_simple">futur simple
        <br>
        <input type="checkbox" name="futur_composé" id="futur_composé">futur composé
        <br>
        <input type="submit" id="submitBtn">
    </form>
</body>
</html>