<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <form method="post">
        <input type="checkbox" name="1s" id="1s">I (1st Person Singular)
        <br>
        <input type="checkbox" name="2s" id="2s">You (2nd Person Singular)
        <br>
        <input type="checkbox" name="3s" id="3s">He / She (3rd Person Singular)
        <br> 
        <input type="checkbox" name="1p" id="1p">We (1st Person Plural)
        <br>
        <input type="checkbox" name="2p" id="2p">Y'all (2nd Person Plural)
        <br>
        <input type="checkbox" name="3p" id="3p">They (3rd Person Plural)
        <br>
        <input type="submit" id="submitBtn">
    </form>
</body>
</html>